<article class="grid h-full border max-w-sm">
  <!-- Screenshot -->
  <p-image [alt]="project.title + ' – screenshot'" [preview]="true" [src]="project.screenshot" />

  <!-- Content -->
  <div class="grid place-content-between gap-4 p-4">
    <div class="my-2">
      <h3>
        {{ project.title }}
      </h3>

      <p>
        {{ project.description }}
      </p>
    </div>

    <div class="flex gap-4">
      <a
        class="inline-flex items-center border"
        rel="noopener noreferrer"
        target="_blank"
        [href]="project.githubRepo"
      >
        View code
        <i class="pi pi-arrow-up-right"></i>
      </a>

      <a
        class="inline-flex items-center text-neutral-900 bg-primary-200"
        rel="noopener noreferrer"
        target="_blank"
        [href]="project.liveDemo"
      >
        Live demo
        <i class="pi pi-arrow-up-right"></i>
      </a>
    </div>
  </div>
</article>
