@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

body {
  font-family: 'Bricolage Grotesque', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  @apply text-5xl md:text-6xl lg:text-7xl leading-none;
}

h2 {
  @apply text-4xl md:text-5xl lg:text-6xl leading-tight;
}

h3 {
  @apply text-3xl md:text-4xl lg:text-5xl leading-snug;
}

h4 {
  @apply text-2xl md:text-3xl lg:text-4xl leading-snug;
}
